<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnNcsbBZsFOdHVa3s-9P14cwqR6IbKyj0</string>
	<key>GCM_SENDER_ID</key>
	<string>75312656911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buooyFlutter</string>
	<key>PROJECT_ID</key>
	<string>buooy-5d81f</string>
	<key>STORAGE_BUCKET</key>
	<string>buooy-5d81f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75312656911:ios:abdaad6835648d4901a97a</string>
</dict>
</plist>